
	
.container{
		display: flex;
		flex-wrap:wrap;
	}

	.menu{
		background-color: black;
		position: fixed;
		width: 98.8%;
	}
   ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	}

li {
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 20px 16px;
	text-decoration: none;
}

li a:hover {
	background-color: gray;	
}
.logo1{
	height: 80px ;
	width: 80px;
	border-radius: 50px;
}
	.logo, .list, .log{
	display: inline-block;
}
.logo2{
	height: 80px ;
	width: 80px;
	border-radius: 50px;

}
.log{
		   
		margin-left: 62%;
}
.logo{
		margin-left: 13px;
}

.log, .menu{
		display: inline-block;
}
.inf1, .inf2, .inf3{
	
	
	display:inline-block;
	float-right: 8px;
	margin-right:10px;
	margin:auto;
	text-align:center;

	
}

.footer{
	
	height:46px;
	width:100%;
	background-color: black;
	color: white;
	text-align:center;
	font-size:10px;	
	font-style:italic;
}
.title{
	
	height:60px;
	width:100%;
	color: red;
	text-align:center;
	font-size:20px;
	
	
}
hr{
	border:3px solid gray;"
}

.content{
	display:inline-block;
	float-right: 20px;
	margin:auto;
	text-align:center;
	
	
}
td, thead, table{
	border:1px solid black;
	border-collapse:collapse;
	padding:10px;
}
table{
	
	align:center;
}
.work{
	text-align: center;
}
h2{
	font-style: italic;
	color: burlywood;
}
.w1, .w2, .w3{
	
	display: inline-block;
}
.loginForm{
	
	border: 2px solid white;
	margin: auto;
	margin-top: 40px;
	border-radius: 20px;
	color: white;
}
.loginForm hr{
	border: 3px solid white;
}
.message{
	display: none;
}
.map{
	height: 500px;
	width: 100%;
}
td, thead, table{
	border:1px solid black;
	border-collapse:collapse;
	padding:20px;
}
table{
	width: 100%;
	align:center;
}

 .table{
	
	margin:auto;
	text-align:center;
	
	
}
thead{
	padding: 12px;
	background-color: burlywood;
}
